{% extends "skeleton.twig" %}

{% block title %}Nieuw item{% endblock %}

{% block content %}
   
    <div class="col-md-6 centered-column">
    <h1>Voeg item toe: {{ item.title }}</h1>
    {% if itemErrors|length != 0 %}
        <div class="alert alert-danger">
            <ul>
    {% for error in itemErrors %}
        <li>
        {{ error }}
        </li>
        {% endfor %}
            </ul>
        </div>
            
            {% endif %}
    <form action="item.php?action=add" method="post" enctype="multipart/form-data">
        <div class="form-group">
        <input type="text" name="title" class="form-control" placeholder="titel">
        </div>
        <div class="form-group">
        
        <textarea name="description" class="form-control" placeholder="omschrijving"></textarea>
        </div>
        <div class="form-group">
        <label for="img">Voeg een foto toe (max 1.9 Mb): </label>
    
        <input type="file" name="img" class="form-control" placeholder="fotobestand">
        </div>
        <div class="form-group">
        <select class="form-control" name="section">
            {% for section in sectionList %}              
                <option value="{{ section.id }}">{{ section.name }}</option>
            {% endfor %}
        </select>
        </div>
        <input type="submit" name="addItem" class="btn btn-default" value="Toevoegen">

    </form>
    </div>

{% endblock %}