{% extends "skeleton.twig" %}

{% block title %}Mijn advertenties{% endblock %}

{% block content %}


    <div class="container">

        <h1>advertenties</h1>

        <form action="item.php?action=add" method="post">
            <button type="submit" name="" class="btn btn-success" value="Voeg een item toe">Voeg een item toe</button>
        </form>
        </br>
        
       
        {% if itemList|length == 0 %}
            
            <div class="alert alert-warning">U hebt nog geen advertenties</div>
        {% endif %}
        
        {% include 'itemRow.twig' %}
        
    </div>



{% endblock %}